<!--Footer-->
<div id="footer">
    <div id="footerbar">

<!--图片滚动区-->
<div class="scrollbar">
    <a href="javascript:;" class="go_left" onfocus="this.blur()" id="go_left" onclick="goPrevious(this)"></a>
    <div class="scroll" id="scroll">
    <ul style="width: 8700px; height: 164px;">
        <li><a href="#" target="_blank"><img src="" data-src=""> <span> <b>从裸眼3D到三维信息架构</b> <br>
            2011.03.14 <br>
            yuki/CDC北京</span> </a>
        </li>
    </ul>
    </div>
    <a href="javascript:;" class="rightOn" onfocus="this.blur()" id="go_right" onclick="goNext(this)"></a>
</div>
<!--图片滚动区-->

<!--Copyright-->
        <div class="copyright">
            <p class="about_info">
            <a href="#">Home</a> | <a href="#">About</a> | <a href="#">Photo</a> | <a href="#">Sitemap</a> | <a href="#">RSS</a> |</p>
            Copyright &copy; {% now 'Y' %}
            <p><span>Copyright &copy; {% now 'Y' %}</span></p>
        </div>
<!--Copyright End-->   
    
    </div>
</div>
<!--Footer End-->
