.toolbar { display: none; }

.syntaxhighlighter
{
	background-color: #fff !important;
	background-color: #eee !important;	
	border: 1px solid #bcbcbc;
}
.syntaxhighlighter .line.alt1 .content {
	background-color: #fafafa !important;
}
.syntaxhighlighter .line.alt2 .content {
	background-color: #fafafa !important;
}
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2
{
	background-color: #ececec !important;
}
.syntaxhighlighter .line.highlighted.number{
	background-color: #ececec !important;
	color: #aaa !important;
}
.syntaxhighlighter table caption {
  color: black !important;
}
.syntaxhighlighter .gutter {
  color: #aaa !important;
  background-color: #ececec !important;
  padding: 1em 0.5em !important;
}
.syntaxhighlighter .gutter { /*.line {*/
  border-right: 1px solid #ddd !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #6ce26c !important;
  color: white !important;
}
.syntaxhighlighter.printing .line .content {
	border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #6ce26c !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #ddd !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
	color: #a0a0a0 !important;
}
.syntaxhighlighter .toolbar a:hover {
	color: red !important;
}
.syntaxhighlighter .code .container {
    padding: 1em 0.5em !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
	color: #000 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a {
	color: #999988 !important;
	font-style: italic !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
	color: #d14 !important; 
}

.syntaxhighlighter .keyword {
	font-weight: bold !important;
	color: #000 !important; 
}

.syntaxhighlighter .preprocessor {
	color: gray !important; 
}

.syntaxhighlighter .regex {
  color: #159828;
}

.syntaxhighlighter .numbers {
  color:#1C9898;
}

.syntaxhighlighter .expr {
  color:#D81745;
}

.syntaxhighlighter .method {
  font-style: italic;
}

.syntaxhighlighter .variable {
	color: #177F80 !important; 
}

.syntaxhighlighter .value {
	color: red !important; 
}

.syntaxhighlighter .functions {
	color: #0086B3 !important; 
}

.syntaxhighlighter .constants {
	color: #177F80 !important; 
}

.syntaxhighlighter .script {
	background-color: yellow !important;
}

.syntaxhighlighter .funcname {
    color: #900 !important;
    font-weight: 700 !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
	color: #999 !important; 
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a {
	color: #960B73 !important; 
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
	color: red !important; 
}