{% extends "blog/jove/base.html" %}
{% load duoshuo_tags %}

{% block title %}{{ title|default:"关于Neteue"}} - {% endblock %}

{% block content %}
<div id="post-233" class="post-233 page type-page status-publish hentry">
    <h1 class="entry-title">关于</h1>
	<div class="entry-content">
	    <p><a href="http://weibo.com/houshao55" target="_blank">@小邪兽</a> Linux Deepin团队成员</p>
	    <p>Neteue使用Django Web框架搭建, 主题由<a href="http://jovesky.com" target="_blank">JoveSky</a>提供</p>	  
	</div><!-- .entry-content -->
</div>    
{% if comments %}
<a name="comments">{% duoshuo_comments %}</a>
{% endif %}
{% endblock %}
