<div class="blog-index">
	{% for article in current_page.object_list %}
	<div id="post" class="post type-post status-publish format-standard hentry ">
		<h2 class="entry-title"><a href="{{ article.get_absolute_url }}" title="{{ article.title }}" rel="bookmark">{{ article.title }}</a></h2>

		<div class="entry-meta">
			<span class="entry-date">{{ article.modified|date:"Y-m-d" }}</span><span class="author vcard">{{ article.author }}</span><span class="cat-links"><a href="{{ article.category.get_absolute_url }}" title="" rel="category tag">{{ article.category }}</a></span>
		</div><!-- .entry-meta -->

		<div class="entry-content">

			{{ article.abstract|safe|truncatewords_html:20 }}
		<a rel="full-article"  href="{{ article.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
		</div><!-- .entry-content -->

		<div class="entry-utility">
			<span class="comments-link"></span>
		</div><!-- .entry-utility -->
	</div>

	{% endfor %}
</div>

{% if p.num_pages > 1 %}
    {% include "blog/jove/paginator.html" with page_type=page_type|default:0 %}
{% endif %}