<li id="timer" class="widget-container widget_text">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=3,0,5,0" width="745" height="140"><param name="wmode" value="transparent"><embed src="{% get_static_prefix %}flash/time_honehone_clock.swf" tppabs="time_honehone_clock.swf"  quality="high"  pluginspage="http://www.macromedia.com/go/getflashplayer" height="85" wmode="transparent"></embed></object>
</li>

<li id="recent-comment" class="widget-container widget_recent_entries">
	<h3 class="widget-title">最新评论</h3>
	<ul class="ds-recent-comments"  style="padding: 5px;"><li></li></ul>

</li>

<li id="recent-visiter" class="widget-container widget_recent_entries">
	<h3 class="widget-title">最新访客</h3>
	<ul class="ds-recent-visitors"></ul>
	<!--多说js加载开始，一个页面只需要加载一次 -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"Neteue"};
	(function() {
	    var ds = document.createElement('script');
	    ds.type = 'text/javascript';ds.async = true;
	    ds.src = 'http://static.duoshuo.com/embed.js';
	    ds.charset = 'UTF-8';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
	<!--多说js加载结束，一个页面只需要加载一次 -->
</li>

