{% extends "blog/daren/base.html" %}
{% load duoshuo_tags %}
{% block title %}{{ title|default:"关于Neteue"}} - {% endblock %}

{% block content %}
<div id="content">
    <section class="pagebody">
        <article>
            <section class="post" id="post-2" >
                <h2>关于本站</h2>
        	    <p>Neteue使用Django Web框架搭建</p>
                <h3></h3>
                <p><a href="http://weibo.com/houshao55" target="_blank">@小邪兽</a> Linux Deepin团队成员</p>
                <p>从事互联网工作4年，从网络工程师到软件开发，长期使用Linux, 编辑器使用<a href="http://weibo.com/u/2876258834" target="_blank">@ManateeLazyCat_deepin</a>改造过的Emacs, <a href="http://tieba.baidu.com/p/1402662061" target="_blank">这里</a>是它的一些截图。</p>
                <h3></h3>
            </section>    
        </article>
    </section>
</div>  
{% if comments %}
<a name="comments">{% duoshuo_comments %}</a>
{% endif %}
{% endblock %}


  
  
  
  