        <div class="widget search">
        <form action="{% url 'blog_search' %}" id="cse-search-box">
            <div>
              <input type="text" name="q" size="26" class="cse-search-input" style="background-color: rgb(255, 255, 255); background-position: 0% 50%; background-repeat: no-repeat no-repeat;" /> 
              <input type="submit" value="搜索" class="cse-search-button" />
            </div>
		</form>	    
        </div>
		

        <div class="widget">
            <h3 class="widgettitle">页面</h3>
            <div class="menu-%e9%a1%b5%e9%9d%a2%e8%8f%9c%e5%8d%95-container">
                <ul id="menu-%e9%a1%b5%e9%9d%a2%e8%8f%9c%e5%8d%95" class="menu">
                    <li id="menu-item-6620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6620">
                        <a href="">关于</a>
                    </li>
                </ul>
            </div>
        </div>
		
		

	<div id="left-col">
    	<nav class="nav">
	  
        	<div class="widget">
                <h3 class="widgettitle">分类目录</h3>
                    <ul>
                    	<li class="cat-item cat-item-9"><a href="" title=""></a></li>
		            </ul>
            </div>

            <div class="widget">
                <h3 class="widgettitle">页面</h3>
                <div class="menu-%e9%a1%b5%e9%9d%a2%e8%8f%9c%e5%8d%95-container">
                    <ul id="menu-%e9%a1%b5%e9%9d%a2%e8%8f%9c%e5%8d%95" class="menu">
                        <li id="menu-item-6620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6620">
                            <a href="">关于</a>
                        </li>
                    </ul>
                </div>
            </div>
			
        </nav>

        <div class="widget book" style="left: 811px;">
        	<h3>推荐书籍</h3>
            <ul>
            	<li><a title="说什么用户体验，先看了这本书再说！" href="" target="_blank"><img src="" width="40" height="52"></a>
                <a title="" href="" target="_blank">DON'T MAKE ME THINK</a><small>设计师必看</small>
                </li>
            </ul>

		<div class="weibo">
		<iframe width="136" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="></iframe>
		</div>
	</div>

    </div>
	<!-- end left colum -->

<div id="right-col">
	<div class="widget">
		<h3 class="widgettitle">最新文章</h3>
		<ul>
        	<li><a href="" title=""></a></li>
        </ul>
	</div>

    <div class="widget group-list clearfix">
      <h3 class="widgettitle"></h3>
      <ul>
        <li>131997979 (新)</li>
      </ul>
    </div>

    <div class="widget search">
    <form action="" id="cse-search-box">
      <div>
        <input type="text" name="q" size="26" class="cse-search-input" style="background-image: url(http://www.google.com.hk/cse/intl/zh-Hans/images/google_custom_search_watermark.gif); background-color: rgb(255, 255, 255); background-position: 0% 50%; background-repeat: no-repeat no-repeat;"> 
        <input type="submit" name="sa" value="搜索" class="cse-search-button">
      </div>
    </div>

    <div class="widget">
        <h3 class="widgettitle">标签</h3>
        <div class="tagcloud">
            <a href="" class="tag-link-68" title="13 个话题" style="font-size: 12px;">Apple</a>
        </div>
    </div>
</div>


	<!-- <div class="foot-link"> -->
    <!--     <dl> -->
    <!--         <dt>联系<span> / Contact</span></dt> -->
    <!--         <dd><a href="" title="关于">关于设计达人</a></dd> -->
    <!--     </dl> -->
    <!--     <dl> -->
    <!--         <dt>导航<span> / Navigation</span></dt> -->
    <!--         <dd><a href="" title="UI设计">UI设计</a></dd> -->
    <!--     </dl> -->
    <!--     <dl class="pr-link"> -->
    <!--         <dt><a href="" class="more">more..</a>链接<span> / Links</span></dt> -->
    <!--         <dd><a href="http://cdc.tencent.com/" target="_blank">腾讯CDC</a></dd> -->
    <!--     </dl> -->
    <!-- </div> -->
    <!-- <div class="foot-about"> -->
    <!-- 	<a href="http://www.shejdaren.com/#container" class="foot-logo scroll">关于设计达人：</a> -->
    <!-- 	<p>我热爱设计，虽然没有达到狂热的程度.</p> -->
    <!-- </div> -->
