<footer>
<div id="footer">
<div class="foot-wrap">
	<div class="foot-link">
        <dl>
            <dt>联系<span> / Contact</span></dt>
            <dd><a href="" title="关于">关于设计达人</a></dd>
        </dl>
        <dl>
            <dt>导航<span> / Navigation</span></dt>
            <dd><a href="" title="UI设计">UI设计</a></dd>
        </dl>
        <dl class="pr-link">
            <dt><a href="" class="more">more..</a>链接<span> / Links</span></dt>
            <dd><a href="http://cdc.tencent.com/" target="_blank">腾讯CDC</a></dd>
        </dl>
    </div>
    <div class="foot-about">
    	<a href="http://www.shejidaren.com/#container" class="foot-logo scroll">关于设计达人：</a>
    	<p>我热爱设计，虽然没有达到狂热的程度.</p>
    </div>
	
    <div class="copyright">主题由 Commy 设计，采用 HTML5 + CSS3 ©2012 设计达人. 保留所有权利。<br>联系站长:CommyLeung(at)gmail.com Power by <a href="http://wordpress.org/">wordpress</a></div>
</div>
</div>
</footer><!-- end footer -->

<a href="#container" class="top" style="display: none;">Top</a>
