{% if page_type == 0 %}
{% url "blog_index" as page_url %}
{% elif page_type == 1 %}
{% url "blog_category slug" as page_url %}
{% elif page_type == 2 %}
{% url "blog_tag slug" as page_url %}
{% elif page_type == 3 %}
{% url "blog_search" as page_url %}
{% elif page_type == 4 %}
{% url "blog_archives" as page_url %}
{% endif %}

<div id="page-single" class="clearfix">
    {% if current_page.has_previous %}
    <div class="pre-page-single"><a href="{{ page_url }}page/{{ current_page.previous_page_number }}/" >« 上一页</a></div>
	{% endif %}
	{% if current_page.has_next %}
    <div class="next-page-single"><a href="{{ page_url }}page/{{ current_page.next_page_number }}/" >下一页  »</a></div>	
	{% endif %}
</div>