<div id="left-col">
	<nav class="nav">
        <div class="widget">
            <h3 class="widgettitle">新浪微博</h3>

          <div>
<iframe width="100%" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=400&fansRow=2&ptype=0&speed=0&skin=8&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1908513890&verifier=2cf42040&colors=e5e8c9,e5e8c9,6710880,0082cb,eff1de&dpc=1"></iframe>
          </div>
        </div>
  
    	<div class="widget">
            <h3 class="widgettitle">分类目录</h3>
                <ul>
		        {% for category in categories %}
                	<li class="cat-item cat-item-9">
                        <a href="{{ category.get_absolute_url }}" title="查看 {{ category.name }} 下的所有文章">{{ category.name }}</a>
                    </li>
				{% endfor %}
	            </ul>
        </div>

		
	    <div class="widget">
	    	<h3 class="widgettitle">点击排行</h3>
	    	<ul>
	        {% for article in populars %}
	            <li><a href="{{ article.get_absolute_url }}" title="{{ article.title }}">{{ article.title }}</a></li>
		    {% endfor %}
            </ul>
	    </div>
		
	    <div class="widget">
	    	<h3 class="widgettitle">主题</h3>
		  
		    <a class="more" href="#" onclick="switchTheme('jove'); return false;" style="margin-bottom: 24px;">切换到旧主题</a>		    </div>
		
        <div class="widget">
            <h3 class="widgettitle">标签</h3>
            <div class="tagcloud">
                {% for tag in tags %}
                    <a href="{{ tag.get_absolute_url }}" class="tag-link-19" style="font-size: {{tag.font_size}}px;">{{ tag.name }}</a>
            	{% endfor %}
            </div>
        </div>
		
{% if user.is_staff %}
        <div class="widget">
            <h3 class="widgettitle">最近访客</h3>
        	<ul class="ds-recent-visitors"></ul>
        </div>
{% endif %}		
		
	    <div class="widget">
	    	<h3 class="widgettitle">友情链接</h3>
	    	<ul>
		    {% for link in links %}
		    <li>
			    <a href="{{ link.site }}" title="{{ link.name }}" target="_blank">{{ link.name }}</a>
		    </li>
		    {% endfor %}
            </ul>
	    </div>
    </nav>
</div>
<!-- end left colum -->


